<section>
  <div class="row">

    <% @my_cards.each do |card| %>

      <div class="col-sm-4">
        <div>
          <h2><%= card.name %></h2>
          <p>these will all just be images with hover info</p>
          <h4>cost: <%= card.cost %> attack: <%= card.attack %> </h4>
          
        </div>
      </div>
    <% end %>

  </div>
 </section>