<section>
  <div class="row">

    <% @my_cards.each do |card| %>

      <div class="card"> 
          <div class="front"> 
            <%= image_tag @cardback.image.url(:medium) %>
          </div> 
          <div class="back">
            <%= image_tag card.image.url(:medium) %> 
          </div>  
        </div>
    <% end %>



  </div>
 </section>


 <script>
  
  $(".card").flip({
    axis: 'y',
    trigger: 'hover'
  });

 </script>