<h1>your profile</h1>

<h2><%= @user.name %></h2>
<h3>randomly generated text biography.</h3>

<a class="btn btn-default" href="/mycards/">Your Cards</a>
<a class="btn btn-default" href="/games/new">Play Game</a>
