
<div class="row">
  <div class="col-md-3 col-offset-1">
    <%= image_tag @user.avatar.url(:large), class: "avatar glow" %>
  </div>
  <div class="col-md-8">
    <h1 class="purpleglowfont"><%= @user.name %></h1>
    <h2 class="purpleglowfont">tuff guy came from outer space to punch as much stuff as possible. u may have noticed his jacket is pink but plz do not tell him, he is color-blind. he enjoys long walks on the beach, checkers, and the ambient stylings of aphex twin.</h2>
  </div>

  <div class="col-md-3 col-offset-3">
    <div>
      <a class="btn btn-default purpleglow" href="/mycards/">Your Cards</a>
    </div>
    <br>
    <div>
      <a class="btn btn-default purpleglow" href="/game">Play Game</a>
    </div>
  </div>

</div>

