<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
        <div class="attack-card" id="attacking"> 
        <!--   <div class="front"> 
            <#%= image_tag @cardback.image.url(:large) %>
          </div> --> 
          <div class="back">
            <%= image_tag current_user.hand.first.card.image.url(:large) %>
          </div>  
        </div>

        <!-- <div class="opponent-avatar" style="padding: 150px 170px 0px 150px">
          <#%= image_tag @opponent.avatar.url(:medium)%>
            <div id="opponent-info">
              <h3>Player Two</h3>
              <h3>Health: 14</h3>
            </div>
        </div>-->
    </div>
  </div>
</div>