<div ng-app="app">
<div ng-controller="gameCtrl" ng-init="setup()">

<div class="container">
    <div class="row text-center col-lg-9">
      <%= image_tag("opponenthand.gif")%>
    </div>
    <div class="col-md-3">
      <div class="opponent-avatar">

        <img class="avatar" src="{{ game.opponentPlayer.avatar }}" ng-class="{glow: false}">

        <h3 id="player-two-name" ng-class="{glowfont: false}">{{ game.opponentPlayer.name }}</h3>
        <h3 id="player-two-hp" ng-class="{glowfont: false}"><span class="glyphicon glyphicon-heart"></span> {{ game.opponentPlayer.health }}</h3>
      </div>
    </div>
</div>

<div class="col-sm-12">
  <br>
</div>

<div class="container player">
      <div class="col-md-3">
        <div>
          <img class="avatar" src="{{ game.activePlayer.avatar }}" alt="Img 2567" ng-class="{glow: true}">
        </div>
        <div class="col-md-12">
          <h3 ng-class="{glowfont: true}">{{ game.activePlayer.name }}</h3>
          <h3 id="player-one-stats" ng-class="{glowfont: true}"><span class="glyphicon glyphicon-heart"></span> {{ game.activePlayer.health }} <span class="glyphicon glyphicon-flash"></span> {{ game.activePlayer.mana }}</h3>
        </div>
      </div>
    <div class="row text-center col-lg-9" id="player-one-hand" ng-class="{glow: true}">

      <div class="card" ng-repeat="card in game.activePlayer.hand">
        <div class="game-card" ng-class="{glow: (card.cost <= game.activePlayer.mana), blocked: (card.cost > game.activePlayer.mana)}">
          <img src="{{ card.medium_image_url }}" ng-click="game.activePlayer.playCard(card, game.opponentPlayer)">
        </div>
      </div>

      <div class="card" ng-click="game.endTurn()">
        <h1 class="glowfont">endTurn</h1>
      </div>

    </div>

    <div class="col-sm-12">
      <br>
    </div>


