
body {
  background: linear-gradient(223deg, #0042ff, #9267a4, #000000, #ffffff);
  background-size: 800% 800%;
  color: white;
  font-family: 'Bungee', monospace; 

  -webkit-animation: AnimationName 34s ease infinite;
  -moz-animation: AnimationName 34s ease infinite;
  animation: AnimationName 34s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

.modal {
  color: white;
}
.modal-content{
  background: black;
  box-shadow: 1px 1px 2px #01FE4D, 0 0 25px #01FEE5, 0 0 5px #B0FEC5;
}

// .modal-open .modal {
//     display: flex !important;
//     height: 100%;
// } 

// .modal-open .modal .modal-dialog {
//     margin: auto;
// }

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.card {
  float: left;
  padding: 30px 10px 35px 5px;

}
.front {
  
}

.game-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.glow {
  box-shadow: 1px 1px 2px #01FE4D, 0 0 25px #01FEE5, 0 0 5px #B0FEC5;
}

.glowfont {
  text-shadow: 1px 1px 2px #01FE4D, 0 0 25px #01FEE5, 0 0 5px #B0FEC5;
}

.back {
  
}

.purpleglow {
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.purpleglowfont {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.player > .row {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.opponent > .row {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.card {
  display: inline-block;
  float: none;
}
.opponent-avatar {
  border-radius: 5px;
  padding: 20px 10px 25px 5px;
  float: right;
}
.player-avatar {

  padding: 20px 10px 25px 5px;
  float: left;
}

.avatar {
  border-radius: 50%
}
.player > .col-md-3{
  border-radius: 5px;
}

.blocked
    {
        position:relative;
    }
.blocked:after
{
    content: '';
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;
    background: transparent;
}